<!-- Fix MathJax rendering on iOS Safari due to rendering long numbers as phone numbers. -->
{% extends "base.html" %}

{% block site_meta %}
    {{ super() }}
    <meta name="format-detection" content="telephone=no">
{% endblock %}


{% block content %}
 {{ super() }}
<script type="text/javascript" src="//www.jb51.net/jslib/jquery/jquery.min.js"></script>
<script type="text/javascript">
	url=document.location.toString().split("//")[1]
	firstIndex=url.indexOf("/")
	fileName=url.substring(firstIndex+1,url.length-1).replace('/','\\')+".md"
	console.log(fileName)
	
	var parent=document.querySelector("article")
	var autherListEle=document.createElement("h5")
	$.ajax({
	  type: "GET",
	  dataType: "json",
	  url: "/autherList.json",
	  success: function (result) {
		allList=eval(result);
		autherList=allList[fileName]
		var authers=[]
		for (var key in autherList){
			authers.push(key)
		}
		autherListEle.innerHTML="本页面贡献者: "+authers
		var first=document.querySelector("h1")
		parent.insertBefore(autherListEle,first)
	  }
	})
	
	
</script>
{% endblock %}

{% block disqus %}
<script src="https://utteranc.es/client.js"
        repo="fdu-msc/discussion"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}
