<!-- Fix MathJax rendering on iOS Safari due to rendering long numbers as phone numbers. -->
{% extends "base.html" %}

{% block site_meta %}
{{ super() }}
<meta name="format-detection" content="telephone=no">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-48NJ9M3XH1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-48NJ9M3XH1');
</script>
{% endblock %}

{% block content %}
{{ super() }}


{% if git_page_authors %}
<div id="authors" class="md-source-date">
  <small>
	本页贡献者:
	{% if git_info %}
      {%- for author in git_info.get('page_authors') -%}
	    {% if loop.index != 1 %}
	      ,
		{% endif %}
		<a href="https://github.com/{{ author.name }}" title="{{ author.name }}">
		{{ author.name }} {{ author.contribution }}
		</a>
  	  {%- endfor -%}
	{% endif %}
  </small>
</div>
<script type="text/javascript">
	const title = document.querySelector("h1");
	const authors = document.querySelector("#authors");
	console.log(authors, title, title.nextSibling)
	title.parentNode.insertBefore(authors, title.nextSibling);
</script>
{% endif %}

{% endblock %}


{% block disqus %}
<script src="https://utteranc.es/client.js"
        repo="fducslg/fducslg"
        issue-term="pathname"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}